/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.inline-form-field {
    display: inline-block;
    padding: 20px;
}

.dialog-header{
    display: flex;
}

.flex-spacer {
    flex: 1 1 auto;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}